<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-6 col-xs-6 order-sm-1">

    <div class="col-sm-6 col-md-6 col-xs-12">
      <p>Follow us on</p>
    </div>

    <div class="col-sm-6 col-md-6 col-xs-12 image-container">
      <a href="https://twitter.com/outshiftbycisco"><img src="/img/footer-logos/X Badge@3x.svg" /></a>
    </div>

  </div>

  <div class="col-sm-6 col-md-6 col-xs-6 order-sm-2">

    <div class="col-sm-6 col-md-6 col-xs-12 px-0">
      <p>Adopted by</p>
    </div>

    <div class="col-sm-6 col-md-6 col-xs-12 image-container px-0">
        <a href="https://panoptica.app"><img src="/img/footer-logos/panoptica-logo-white.svg" /></a>
    </div>

  </div>
</div>
</div>